#authority {
  .search-form {
    margin: 0 0 1vh 0;
  }

  .ant-table-cell {
    text-align: center;
  }

  .btn-area {
    margin: 1vh 0;
    display: flex;
    width: 20vw;
    justify-content: space-between;
  }
}
