#sys-post {
  .btn-area {
    margin: 1vh 0;
    width: 20vw;
    display: flex;
    justify-content: space-between;
  }

  .ant-table-cell {
    text-align: center;
  }

  .ant-select-selector {
    width: 5vw;
  }
}

