#layout-header {
  .layout-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1vw;
    height: 7vh;
    line-height: 7vh;
    border-bottom: 1px solid #0015292b;
  }

  .layout-header-user {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
  }

  .bell {
    width: 2.0vw;
    margin: 0 1vw;
    vertical-align: middle;
    cursor: pointer;
  }

  .bell-active {
    width: 2.0vw;
    margin: 0 1vw;
    vertical-align: middle;
    animation: rotate 0.4s linear infinite;
    cursor: pointer;
  }
}

.message-alert {
  .ant-table-cell {
    text-align: center;
  }
}
