#work-hour-statistics-area {
  .ant-form {
    width: 35vw;
    padding: 0 1vw;
  }

  .ant-table-cell {
    text-align: center;
  }
}

#statistics-result-detail {
  .ant-table-cell {
    text-align: center;
  }

}
