<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fastboot.server.sys.mapper.SysDeptMapper">
    <sql id="selectDeptVo">
        select d.dept_guid,
               d.parent_guid,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.area_code,
               d.leader,
               d.phone,
               d.email,
               d.status,
               d.del_flag,
               d.create_by,
               d.create_time
        from sys_dept d
    </sql>
    <insert id="insertDept">
        insert into sys_dept(
        <if test="deptGuid != null and deptGuid != ''">dept_Guid,</if>
        <if test="parentGuid != null and parentGuid != ''">parent_Guid,</if>
        <if test="deptName != null and deptName != ''">dept_name,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="areaCode != null and areaCode!=''">area_code,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="status != null">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="deptGuid != null and deptGuid != ''">#{deptGuid},</if>
        <if test="parentGuid != null and parentGuid != ''">#{parentGuid},</if>
        <if test="deptName != null and deptName != ''">#{deptName},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="areaCode != null and areaCode!=''">#{areaCode},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="status != null">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    <update id="updateDept">
        update sys_dept
        <set>
            <if test="parentGuid != null and parentGuid != ''">parent_Guid = #{parentGuid},</if>
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where dept_Guid = #{deptGuid}
    </update>
    <update id="updateDeptChildren">
        update sys_dept set ancestors =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case dept_guid" close="end">
            when #{item.deptGuid} then #{item.ancestors}
        </foreach>
        where dept_guid in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.deptGuid}
        </foreach>
    </update>
    <delete id="deleteDeptByGuid">
        update sys_dept
        set del_flag = '2'
        where dept_guid = #{deptGuid}
    </delete>
    <select id="selectDeptList" resultType="com.example.fastboot.server.sys.model.SysDept">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="deptGuid != null and deptGuid != ''">
            AND dept_Guid = #{deptGuid}
        </if>
        <if test="parentGuid != null and parentGuid != ''">
            AND parent_Guid = #{parentGuid}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        order by d.order_num
    </select>
    <select id="checkDeptNameUnique" resultType="com.example.fastboot.server.sys.model.SysDept">
        <include refid="selectDeptVo"/>
        where dept_name=#{deptName} and parent_Guid = #{parentGuid} and del_flag = '0' and dept_guid!=#{deptGuid} limit 1
    </select>
    <select id="selectDeptByGuid" resultType="com.example.fastboot.server.sys.model.SysDept">
        select d.dept_guid,
               d.parent_guid,
               d.ancestors,
               d.dept_name,
               d.area_code,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.status,
               (select dept_name from sys_dept where dept_Guid = d.parent_Guid) parent_name
        from sys_dept d
        where d.dept_guid = #{deptGuid}
    </select>
    <select id="selectChildrenDeptByGuid" resultType="com.example.fastboot.server.sys.model.SysDept">
        select *
        from sys_dept
        where find_in_set(#{deptGuid}, ancestors)
    </select>
    <select id="checkDeptExistUser" resultType="java.lang.Integer">
        select count(1)
        from sys_user
        where dept_guid = #{deptGuid} limit 1
    </select>
    <select id="hasChildByDeptGuid" resultType="java.lang.Integer">
        select count(1)
        from sys_dept
        where del_flag = '0'
          and parent_guid = #{deptGuid} limit 1
    </select>
</mapper>
