#operate-log {
  .btn-area {
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
    width: 15vw;
  }

  .search-form {
    .ant-select-selector {
      width: 5vw;
    }

    .ant-input {
      width: 6vw;
    }
  }

  .ant-table-cell {
    text-align: center;
  }
}

.oper-log-modal {
  width: 80vw !important;
}
